/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-03 21:57:47
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-03 21:58:09
**************************************************************/

div.view {
	div.actions {
		float : right;

		i.fa {
			margin-left : 5px;
			margin-right: 5px;
			color : rgba($primary_color, 0.4);
			transition: 0.2s;

			&:hover {
				color : rgba($primary_color, 0.7);
			}
		}
	}
}