/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-11-21 13:08:48
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-21 13:31:20
**************************************************************/

div.timeline.element {
	@include backgroundApp;

	div.actions {
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: right;

		i.fa {
			color : darken($white_color, 20);
			padding: 0px 5px 0px 0px;


			&:hover {
				color : darken($white_color, 30);
			}

			&:active {
				color : darken($white_color, 40);
			}
		}
	}
}