/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-09-15 23:54:57
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-28 23:30:19
**************************************************************/

form {
	padding: 10px;

	fieldset {
		border: none;

		legend {
			font-size : 20px;
			font-weight: bold;
			margin-bottom: 20px;
		}

		div.form {
			$width_label_form : 200px;
			position: relative;

			div.inputForm {
				height : 35px;
				margin-left : 20px;
			}

			span.label {
				width : $width_label_form;
				display : inline-block;
			}

			input[type="text"], select {
				width: calc(100% - #{$width_label_form} - 20px);
				height: 30px;
				padding: 5px 10px;
			}

			input[type="text"]

			select {
			
			}

			ul.errorMessage {
				position: absolute;
				color : darken($white_color, 4);
				box-sizing: border-box;
				width: calc(100% - #{$width_label_form} - 20px - 20px);
				z-index: 1;
				list-style: none;
				margin: -6px 0px 15px #{$width_label_form + 20px};
				padding: 0px;
    			opacity: 0;
    			transition: 0.5s;
    			border: 1px solid darken($error_color, 4);

				li {
					padding: 10px;
					background-color: $neutral_color;
					color : darken($error_color, 2);
					font-size: 13px;
					text-shadow: none;
				}
			}

			&:hover {
				ul.errorMessage.visible {
					height: auto;
					opacity: 1;
					display: block;
				}
			}
		}

		div.sendFormContainer {
			text-align: center;

			button.sendForm {
				margin-top : 10px;
				background-color : $secondary_color;
				border: 2px solid darken($secondary_color, 10);
				padding : 5px 10px;
				font-weight: bold;
				font-size : 14px;
				color: $white_color;
				border-radius: 1px;
				outline : none;
				cursor : pointer;
				transition : 0.2s;
				-webkit-transition: 0.2s;

				&:hover {
					background-color: lighten($secondary_color, 5);
					border: 2px solid darken($secondary_color, 5);
				}

				&:active {
					background-color: darken($secondary_color, 7);
					border: 2px solid darken($secondary_color, 7);
				}
			}
		}
	}
}